body {
background-color: #9c9f84;
margin: 0px;
font-family: Verdana, Georgia, serif;
font-size: 14px;
}
 
#main {
background-color: #e5e4d7;
margin: 10px;
border-radius: 5px;
padding: 20px;
font-size: 110%;
}
 
h2 {
font-size: 120%;
color: #ce282e;
}
 
#test {
 
color: darkblue;
}

#theForm {
 
color:white;
display: table;
padding: 15px;
background-color: #2C8F77;
border: solid 2px black;
 
}
 
.row {
display: table-row;
}
 
.row label {
display: table-cell;
padding: 2px;
text-align:right;
 
}
 
.row input {
display: table-cell;
padding: 2px;
}